<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Teléfono</th>
      <th>Carrera</th>
      <th>País</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let medico of medicos">
      <td>{{ medico.id }}</td>
      <td>{{ medico.nombres }}</td>
      <td>{{ medico.apellidos }}</td>
      <td>{{ medico.telefono }}</td>
      <td>{{ medico.carrera }}</td>
      <td>{{ medico.pais }}</td>
      <td>
        <app-medicos-update [medico]="medico"></app-medicos-update>
        <button class="btn btn-danger" (click)="(medicosService.eliminarMedico(medico.id!))">Borrar</button>
      </td>
    </tr>
  </tbody>
</table>
