<c-row>
  <c-col sm="6" xl="6">
    <c-widget-stat-a
      class="mb-4"
      color="primary"
      title="Medicos"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{ _dashboard?.dashboard?.cantidad_medicos?.total_medicos || '0' }}
        <span class="fs-6 fw-normal">
        <!--  (-12.4% <svg cIcon name="cilArrowBottom"></svg>)-->
        </span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
            <svg cIcon class="text-high-emphasis-inverse" name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a routerLink="./" cDropdownItem>Action</a></li>
            <li><a routerLink="./" cDropdownItem>Another action</a></li>
            <li><a routerLink="./" cDropdownItem>Something else here</a></li>
            <li>
              <hr cDropdownDivider>
            </li>
            <li>
              <button cDropdownItem>Separated link</button>
            </li>
          </ul>
        </c-dropdown>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="dataMedico" class="mt-3 mx-3" height="150" [type]="'line'"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="6">
    <c-widget-stat-a
      [title]="'Ingresos'"
      class="mb-4"
      color="info"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>  ${{ (_dashboard?.dashboard?.cantidad_ingresos?.total_ingresos | number)|| '0'  }}</span>
        <!--<span class="fs-6 fw-normal">
          (40.9%<svg cIcon name="cilArrowTop"></svg>
        </span>!-->
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
            <svg cIcon class="text-high-emphasis-inverse" name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a routerLink="./" cDropdownItem>Action</a></li>
            <li><a routerLink="./" cDropdownItem>Another action</a></li>
            <li><a routerLink="./" cDropdownItem>Something else here</a></li>
            <li><a [disabled]="true" routerLink="./" cDropdownItem>Disabled</a></li>
          </ul>
        </c-dropdown>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="dataIngreso"  class="mt-3 mx-3" height="150" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="6">
    <c-widget-stat-a
      [title]="'Citas pendientes'"
      class="mb-4"
      color="warning"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{_dashboard?.dashboard?.citas_pendientes?.totalCitasPendientes || '0' }}</span>

        <!-- <span class="fs-6 fw-normal">
          (84.7% <svg cIcon name="cilArrowTop"></svg>)
        </span> !-->
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
            <svg cIcon class="text-high-emphasis-inverse" name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a routerLink="./" cDropdownItem>Action</a></li>
            <li><a routerLink="./" cDropdownItem>Another action</a></li>
            <li><a routerLink="./" cDropdownItem>Something else here</a></li>
            <li><a [disabled]="true" routerLink="./" cDropdownItem>Disabled</a></li>
          </ul>
        </c-dropdown>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="dataCita" class="mt-3" height="100" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="6">
    <c-widget-stat-a
      [title]="'Citas atendidas'"
      class="mb-4"
      color="success"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>{{_dashboard?.dashboard?.citas_atendidas?.totalCitasAtendidas || '0' }}</span>
        <!-- <span class="fs-6 fw-normal">
          (-23.6% <svg cIcon name="cilArrowBottom"></svg>)
        </span> -->
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <c-dropdown alignment="end" variant="btn-group">
          <button [caret]="false" cButton cDropdownToggle class="p-0" color="transparent">
            <svg cIcon class="text-high-emphasis-inverse" name="cilOptions"></svg>
          </button>
          <ul cDropdownMenu>
            <li><a routerLink="./" cDropdownItem>Action</a></li>
            <li><a routerLink="./" cDropdownItem>Another action</a></li>
            <li><a routerLink="./" cDropdownItem>Something else here</a></li>
            <li><a [disabled]="true" routerLink="./" cDropdownItem>Disabled</a></li>
          </ul>
        </c-dropdown>
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="dataCitaAtendida" class="mt-3 mx-3" height="100" type="bar"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>
