<button class="btn btn-secondary" (click)="open(content)">

  <svg [cIcon]="icons.cilPencil" width="20" title="Trash Icon"></svg>
  Editar</button>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear Medico</h4>
    <button type="button" class="btn-close" aria-label="Close"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="editarMedico()">

      <div class="mb-3">
        <label for="nombres">ID</label>
        <input type="text" class="form-control" id="id" readonly
          name="id" [(ngModel)]="medico.id">
      </div>

      <div class="mb-3">
        <label for="nombres">Nombres</label>
        <input type="text" class="form-control" id="nombres"
          name="nombres" [(ngModel)]="medico.nombres">
      </div>
      <div class="mb-3">
        <label for="apellidos">Apellidos</label>
        <input type="text" class="form-control" id="apellidos"
          name="apellidos"
          [(ngModel)]="medico.apellidos">
      </div>

      <div class="mb-3">
        <label for="apellidos">Cedula</label>
        <input type="text" class="form-control" id="cedula"
          name="cedula"
          [(ngModel)]="medico.cedula">
      </div>

      <div class="mb-3">
        <label for="telefono">Teléfono</label>
        <input type="number" class="form-control" id="telefono"
          name="telefono"
          [(ngModel)]="medico.telefono">
      </div>
      <div class="mb-3">
        <label for="carrera">Carrera</label>
        <input type="text" class="form-control" id="carrera"
          name="carrera"
          [(ngModel)]="medico.carrera">
      </div>
      <div class="mb-3">
        <label for="pais">País</label>
        <input type="text" class="form-control" id="pais"
          name="pais"
          [(ngModel)]="medico.pais">
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark"
          (click)="modal.close('Save click')">Save</button>

      </div>
    </form>
  </div>

</ng-template>
